h1{
	text-align:center;
	margin: .33em auto;
}

#totalChart{
	position:relative;
	display:block;
	margin:0 auto;
	height: 500px;
}

#pkmnSelectors{
	position:absolute;
	left:10px;
}

.pkmnSelector{
	position:relative;
	display:block;
	margin-top: 10px;
	margin-bottom:10px;
	margin-left:10px;
	color:blue;
}

.pkmnSelector p{
	display:inline-block;
	font-size:.75em;
	margin: 0 0;
}

.pkmnSelector textarea{
	display: inline-block;
	height:1em;
	width:5em;
	resize:none;
}

.autoBox{
	position:absolute;
	left:2.25em;
	width:100px;
	height:100px;
	background-color:gray;
	overflow-y:scroll;
	z-index:1;
	visibility:hidden;
}

.autoSuggestion{
	font-size:1em;
	width:100%;
	display:block;
	text-align:center;
	margin:5px auto;
	z-index:2;
	cursor:pointer
}

#typeChart{
	position:absolute;
	right:10px;
	width:500px;
	height:500px;
	background-color:gray;
}

.typeRow{
	position:relative;
	display:block;
	height:1.5em;
	margin: 0 0;
	background-color:blue;
}

#recPKMN{
	position:relative;
	display:block;
	height:250px;
	width:750px;
	margin:1em auto;
	background-color:green;
}

#recTypes{
	position:relative;
	display:block;
	height:250px;
	width:750px;
	margin:1em auto;
	background-color:red;
}