body{
	background-image:url("../images/debut.jpg");
}

.header{
	background-color:#deecef;
}

.content{
	background-color:#fffcef;
}

.red{
	background-color:#f23224;
}

.green{
	background-color:#53ea31;
}

.Normal{
	background-color:#f0f2bf;
}

.Fire{
	background-color:#ff6430;
}

.Water{
	background-color:#429dff;
}

.Electric{
	background-color:#fbff47;
}

.Grass{
	background-color:#7def40;
}

.Ice{
	background-color:#82fff2;
}

.Fighting{
	background-color:#ce6a5c;
}

.Poison{
	background-color:#891ac9;
}

.Ground{
	background-color:#a06d14;
}

.Flying{
	background-color:#1ceac8;
}

.Psychic{
	background-color:#e751ff;
}

.Bug{
	background-color:#a8cc7a;
}

.Rock{
	background-color:#897060;
}

.Ghost{
	background-color:#906fb7;
}

.Dragon{
	background-color:#3d4aaf;
}

.Dark{
	background-color:#45464f;
}

.Steel{
	background-color:#a0a1a5;
}

.Fairy{
	background-color:#fdaaff;
}

/* 
	Header 
*/

#header{
	position:relative;
	background-color:black;
	width:100%;
	height:2.75em;
	margin: 0 0;
}

#logo{
	position:relative;
	height:4.5em;
	width:9.9em;		/* Should equal 2.2 * height*/
	top:.5em;
	left:.5em;
	background-image:url("../images/logo.png");
	background-size:100% 100%;
}

h1{
	text-align:center;
	margin: .33em auto;
}

/*
	Selectors
*/
#pkmnSelectors{
	position:relative;
	width:100%;
	display:block;
	margin: 0 auto;
}

.pkmnSelector{
	position:relative;
	display:block;
	width:96%;
	margin-top: 10px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	color:black;
}

.pkmnSelector textarea{
	display: inline-block;
	border-radius:8px;
	font-size:1.5em;
	height:2em;
	width:46%;
	margin: 0 0.1%;
	resize:none;
	text-align:center;
}

.pkmnSelector .type1{
	width:19%;
}

.pkmnSelector .type2{
	width:19%;
}

.selectorClear{
	position:relative;
	display:inline-block;
	font-size: .9em;
	top:.55em;
	border-radius:8px;
	width:12%;
	border: 1px solid black;
	height: 2em;
	padding: 0 0;
	transition-duration: 0.2s;
}

.selectorClear:hover{
	background-color:#e58370;
}

.autoBox{
	position:absolute;
	left:.2em;
	width:44%;
	height:100px;
	border-radius:1px;
	border: 1px solid black;
	background-color:white;
	box-shadow: 2px 2px 2px black;
	overflow-y:scroll;
	z-index:1;
	visibility:hidden;
}

.autoSuggestion{
	font-size:1.25em;
	width:100%;
	display:block;
	text-align:center;
	margin:5px auto;
	z-index:2;
	cursor:pointer
}

.autoSuggestion:hover{
	background-color:#bec1c6;
}

#submit{
	position:relative;
	display: block;
	width: 5em;
	height: 2em;
	margin: 0 auto;
	border-radius:5px;
	border: 1px solid black;
	transition-duration: 0.2s;
}

#submit:hover{
	background-color:#53ea31;
}

/*
	Type Chart
*/
#typeChart{
	position:relative;
	display:block;
	margin: .5em auto;
	width:96%;
	height:500px;
	background-color:black;
	text-align:center;
	overflow-y:scroll;
}

.rowSection{
	position:relative;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	height:40px;
	width: 16%;
	padding-top: 10px;
	border: 1px solid black;
	border-right: none;
}

.rightBorder{
	border-right: 1px solid black;
}

.borderless{
	border: none;
}

/*
	Team Weaknesses/Recommended Types
*/

.typeBox{
	position:relative;
	display:block;
	margin: 0 auto;
	width:90%;
	height:10em;
	border: 1px solid black;
	background-color:black;
}

.typeLabel{
	padding: .5em .5em;
}

.typeSection{
	position:relative;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	height:40px;
	width: 80px;
	padding-top: 10px;
	border: 1px solid black;
	border-right: none;
}

/*
	Recommended Pokemon
*/
#recPKMN{
	position:relative;
	display:block;
	height:200px;
	width:96%;
	margin:1em auto;
	/*background-color:green;*/
}

#placeHolderImg{
	position:absolute;
	bottom:0;
	left:1em;
	height:220px;
}

#dialogue{
	position:relative;
	display:block;
	background-color:white;
	top:10%;
	margin-left:160px;
	height:80%;
	width:80%;
	border: 3px solid blue;
	border-radius: 10px;
	overflow-y:scroll;
	font-size:1.25em;
}
